.form{
    min-width: 150px; /*задаем ширину блока*/
    max-width: 300px; /*задаем ширину блока*/
    width: 70%;
    margin: 50px auto;
    /*transform: translate(-50%, -50%);*/
    /*position: absolute;*/
    /*top: 40%;*/
    /*left: 50%;*/
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:40px 30px 40px 30px;
}
.wrapper{
    min-height: calc(100vh - 120px);
}

.title{
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;

    color: #285CA6;
}

.text_box_wrapper{
    margin: 20px auto;
    text-align: center;
}

.text_box{
    background: #FFFFFF;
    border: 0;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    width: 90%;
    height: 40px;
    padding-left: 20px;
}

.button_enter{
    text-decoration: none;
    display: block;
    background: #3681C3;
    border-radius: 20px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height */
    border: 1px solid #285CA6;
    width: 100px;
    height: 30px;   
    color: #FFFFFF;
    text-align: center;
    margin: 10px auto;
}
.button_enter:hover{
    cursor: pointer;
   
}

.error_row{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: red;
    
    text-align: center;
    margin:  -10px auto  0 auto;
}

.error_row_emty{
    height:20px;
    width: 100px;
    margin-top: -10px;

  
}

/* @media(max-width:340px){
    .text_box{
        width: 180px;
    }
    
} */